@font-face {
	font-family: 'Verlag-Book';
	src:url('../fonts/Verlag-Book.otf') format("opentype");
	src:url('../fonts/Verlag-Book.eot');
	src:url('../fonts/Verlag-Book.eot') format('embedded-opentype'),
		url('../fonts/Verlag-Book.woff') format('woff'),
		url('../fonts/Verlag-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Verlag-Book';
	src:url('../fonts/Verlag-Bold.otf') format("opentype");
	src:url('../fonts/Verlag-Bold.eot');
	src:url('../fonts/Verlag-Bold.eot') format('embedded-opentype'),
		url('../fonts/Verlag-Bold.woff') format('woff'),
		url('../fonts/Verlag-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Slim-Joe';
	src:url('../fonts/Slim-Joe.eot');
	src:url('../fonts/Slim-Joe.eot') format('embedded-opentype'),
		url('../fonts/Slim-Joe.woff') format('woff'),
		url('../fonts/Slim-Joe.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
