#menu-toggle {
    display: none;
}

.homepage-header {
    background: $black;
}

@media (max-width: $large) {
    #menu-main-menu {
        display: none;
    }
    #menu-toggle {
        display: inline;
    }
}

