.section-with-hover .project .over-area {
    opacity: 1;
    background: rgba(0,0,0,.25);
}

.section-with-hover .project .content {
    opacity: 1;
}

.section-with-hover .project h4 {
    opacity: 1;
}

.parallax {
    background: #000000;
}

.section .parallax>img {
    max-width: 100%;
}