.section-we-made-1 .row [class^=col-] img, .section-we-made-2 .row [class^=col-] img, .section-we-made-3 .row [class^=col-] img {
    height: auto;
}

.project-content {
    & > div .project-details {
        .article {
            .project-image {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }

}
