// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$black:                 #000000;

// Breakpoints
$small: '400px';

$medium: '768px';

$large: '1024px';

$xlarge: '1400px';